# PYTHON NOTE
「１」20210101
「2」20210102
「3」20210103
「4」20210104
「5」20210105
「6」20200106

# Python Syntax
Python syntax can be executed by writing directly in the Command Line:
#example

In [1]:
print("hello nabin")

hello nabin

# Python Indentation
Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.
#Example

In [2]:
if 10 >6:
    print("10 is greater than 6")

10 is greater than 6

In [3]:
#Python will give you an error if you skip the indentation:
if 10 > 6 :
print("10 is greater than 6")

IndentationError: expected an indented block (<ipython-input-3-2c5b7e6adefc>, line 3)

In [10]:
#The number of spaces is up to you as a programmer, but it has to be at least one.
if 10 > 6:
 print("10 is greater than six")
if 10 > 6:
          print("10 is greater than six")

10 is greater than six
10 is greater than six

In [13]:
#You have to use the same number of spaces in the same block of code, otherwise Python will give you an error:
if 10 > 6:
    print ("10 is greater than six")
     print("10 is greater than six")

IndentationError: unexpected indent (<ipython-input-13-324bfe604823>, line 4)

# Python Comments

Comments can be used to explain Python code.
Comments can be used to make the code more readable.
Comments can be used to prevent execution when testing code.

#Creating a Comment
Comments starts with a #, and Python will ignore them:
Example

In [14]:
#this is a example 
print("hello nabin")

hello nabin

#Comments can be placed at the end of a line, and Python will ignore the rest of the line:

In [15]:
print("hello nabin") # this is comment

hello nabin

#Comments does not have to be text to explain the code, it can also be used to prevent Python from executing code:

In [17]:
#print("hello nabin")
print("hello nabin")

hello nabin

## Multi Line Comments
Python does not really have a syntax for multi line comments.

To add a multiline comment you could insert a # for each line:

In [18]:
#this is a comment
#write in more line
print("hello nabin")

hello nabin

# Or, not quite as intended, you can use a multiline string.
Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [19]:
"""this is the comments
more then one line
it's is straing by three quotes"""
print("hello nabin")

hello nabin

#As long as the string is not assigned to a variable, Python will read the code, but then ignore it, and you have made a multiline comment.

# Python Variables

#Variables
Variables are containers for storing data values.

#Creating Variables
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [22]:
#Example
x=100
y=400
z="nabin"
o='nabin'
print(x,y)
print(x*y)
print(x+y)
print(x-y)
print(x/y)
print(x//y)
print(x%y)
print(z)
print(o)

100 400
40000
500
-300
0.25
0
100
nabin
nabin

#Variables do not need to be declared with any particular type, and can even change type after they have been set

In [25]:
a=5
a="nabin"
print(a)

nabin

In [26]:
a="nabin"
a=5
print(a)

5

## Casting

#If you want to specify the data type of a variable, this can be done with casting.

#Python Strings [str]

https://www.programiz.com/python-programming/string

Python has a built-in string class named "str" with many handy features (there is an older module named "string" which you should not use). String literals can be enclosed by either double or single quotes, although single quotes are more commonly used. Backslash escapes work the usual way within both single and double quoted literals -- e.g. \n \' \". A double quoted string literal can contain single quotes without any fuss (e.g. "I didn't do it") and likewise single quoted string can contain double quotes. A string literal can span multiple lines, but there must be a backslash \ at the end of each line to escape the newline. String literals inside triple quotes, """ or ''', can span multiple lines of text.

#How to create a string in Python?

Strings can be created by enclosing characters inside a single quote or double-quotes. Even triple quotes can be used in Python but generally used to represent multiline strings and docstrings.

In [29]:
#defining strings in python
#all of the following are equivalent
my_string="hello nabin"
print(my_string)

my_string='hello nabin'
print(my_string)

my_sring='''hello nabin'''
print(my_string)

my_string="""hello,welcome to the nabin python """
print(my_string)

hello nabin
hello nabin
hello nabin
hello,welcome to the nabin python

#How to access characters in a string?

We can access individual characters using indexing and a range of characters using slicing. Index starts from 0. Trying to access a character out of index range will raise an IndexError. The index must be an integer. We can't use floats or other types, this will result into TypeError.

Python allows negative indexing for its sequences.

The index of -1 refers to the last item, -2 to the second last item and so on. We can access a range of items in a string by using the slicing operator :(colon).

In [33]:
#Accessing string charaters in python
str="programiz"
print("str=",str)

#first character
print("str[0]=",str[0])

#last character
print("str[-1]=",str[-1])

#slicing 2nd to 5th character
print("str[1:5]=",str[1:5])

#slicing 6th to 2nd last character
print("str[5:-2]=",str[5:-2])

str= programiz
str[0]= p
str[-1]= z
str[1:5]= rogr
str[5:-2]= am

If we try to access an index out of the range or use numbers other than an integer, we will get errors.

In [35]:
#index must be in range
my_string[15]

#index must be an integer
my_string[1.5]

TypeError: string indices must be integers

Slicing can be best visualized by considering the index to be between the elements as shown below.

If we want to access a range, we need the index that will slice the portion from the string.

P   R   O   R   R   A   M   I   Z
0   1   2   3   4   5   6   7   8  9
-9 -8  -7  -6  -5  -4  -3  -2  -1

#How to change or delete a string?

Strings are immutable. This means that elements of a string cannot be changed once they have been assigned. We can simply reassign different strings to the same name.

In [36]:
my_string="programiz"
my_string[5]="a"

TypeError: 'str' object does not support item assignment

In [37]:
my_string="python"
my_string

'python'

We cannot delete or remove characters from a string. But deleting the string entirely is possible using the del keyword.

In [41]:
del my_string[1]

NameError: name 'my_string' is not defined

#Python String Operations

There are many operations that can be performed with strings which makes it one of the most used data types in Python.

#Concatenation of Two or More Strings

Joining of two or more strings into a single one is called concatenation.

The + operator does this in Python. Simply writing two string literals together also concatenates them.

The * operator can be used to repeat the string for a given number of times.

In [45]:
#python string operations
str1="hello"
str2="nabin"

#using +
print("str1+str2=",str1+str2)
      
#using *
print("str1*3=",str1*3)

str1+str2= hellonabin
str1*3= hellohellohello

#Writing two string literals together also concatenates them like + operator.

#If we want to concatenate strings in different lines, we can use parentheses.

In [48]:
#two string literals together
"hello 'nabin!''"
'hello nabin!'

#using parentheses
x=("hello"
  "nabin")
x
"hello nabin"

'hellonabin'

#Iterating Through a string

We can iterate through a string using a for loop. Here is an example to count the number of 'l's in a string.

In [94]:
#iterating thought a sting 
count = 0
for letter in "hello world":
    if(letter == "e"):
        count += 1
print(count,"letters found")

1 letters found

In [92]:
# Iterating through a string
count = 0
for letter in 'Hello world':
    if(letter == 'l'):
        count += 1
print(count,'letters found')

3 letters found

In [95]:
#iterating thought a stirng   
count = 0
for letter in 'nabin point':
    if(letter == 'n'):
        count += 1
print(count,'letters found')

3 letters found

#String Membership Test

We can test if a substring exists within a string or not, using the keyword in.

In [100]:
"p" in "program"   # in function

True

In [101]:
"at" not in "battle" #not in function

False

#Built-in functions to Work with Python

Various built-in functions that work with sequence work with strings as well.

Some of the commonly used ones are enumerate() and len(). The enumerate() function returns an enumerate object. It contains the index and value of all the items in the string as pairs. This can be useful for iteration.

Similarly, len() returns the length (number of characters) of the string.

In [102]:
str="nabin"

#enumerate()
list_enumerate=list(enumerate(str))
print("list(enumerate(str)=",list_enumerate)

#charater count
print("len(str)=",len(str))

list(enumerate(str)= [(0, 'n'), (1, 'a'), (2, 'b'), (3, 'i'), (4, 'n')]
len(str)= 5

#Python String Formatting

#Escape Sequence

If we want to print a text like He said, "What's there?", we can neither use single quotes nor double quotes. This will result in a SyntaxError as the text itself contains both single and double quotes.

In [103]:
print("He said,"What`s there?"")

SyntaxError: invalid syntax (<ipython-input-103-2c5662488a14>, line 1)

#One way to get around this problem is to use triple quotes. Alternatively, we can use escape sequences.

#An escape sequence starts with a backslash and is interpreted differently. If we use a single quote to represent a string, all the single quotes inside the string must be escaped. Similar is the case with double quotes. Here is how it can be done to represent the above text.

In [109]:
# using triple quotes
print('''He said, "What's there?"''')

# escaping single quotes
print('He said, "What\'s there?"')

# escaping double quotes
print("He said, \"What's there?\"")

He said, "What's there?"
He said, "What's there?"
He said, "What's there?"

#The format() Method for Formatting Strings

#The format() method that is available with the string object is very versatile and powerful in formatting strings.

#Format strings contain curly braces {} as placeholders or replacement fields which get replaced.

We can use positional arguments or keyword arguments to specify the order.

In [127]:
#python string format() menthod

#defult(imlicit)order
defult_order="{},{},{} and {}".format("abin","veen","inea","Navina")
print("\n-----Defult order-----")
print(defult_order)

#order using positional argument
positional_order="{1},{0} and {2}".format("abin","veen","inea")
print("\n---Positional order---")
print(positional_order)


#order using keyword argument
keyword_order = "{s},{b} & {j}".format(s="subedi",b="bedi",j="jelly")
print("\n----Keyword_order----")
print(keyword_order)

#"\n break the paragraph

-----Defult order-----
abin,veen,inea and Navina

---Positional order---
veen,abin and inea

----Keyword_order----
subedi,bedi & jelly

The format() method can have optional format specifications. They are separated from the field name using colon. For example, we can left-justify <, right-justify > or center ^ a string in the given space.

We can also format integers as binary, hexadecimal, etc. and floats can be rounded or displayed in the exponent format. There are tons of formatting you can use. Visit here for all the string formatting available with the format() method.

#in mathematics and digital electronics, a binary number is a number expressed in the base-2 numeral system or binary numeral system, which uses only two symbols: typically "0" (zero) and "1" (one).

In [137]:
#formating integers
"Binary representation of {0} is {0:b}".format(142)

'Binary representation of 142 is 10001110'

In [150]:
"{0} is {0:b}".format(142)

#b is the binary function

'142 is 10001110'

In [148]:
#formatig floats
"Exponet representation:{0:e}".format(1.4)

'Exponet representation:1.400000e+00'

In [151]:
#round off
"one third is:{0:.3f}".format(1/3)

'one third is:0.333'

In [155]:
#round off
"one third is:{0:.8f}".format(1/3)

'one third is:0.33333333'

In [173]:
#string aligment
"{:<13}???{:^10}{:<1}".format("nabin","abin","Neveen")

'nabin        ???   abin   Neveen'

In [185]:
"{:<10}{:^3}{:>16}{:>7}".format("nabin","subedi","Yaatra","point")

'nabin     subedi          Yaatra  point'

#Common Python String Methods

There are numerous methods available with the string object. The format() method that we mentioned above is one of them. Some of the commonly used methods are lower(), upper(), join(), split(), find(), replace() etc.

In [189]:
"Nabin SubEdi".lower()

'nabin subedi'

In [190]:
"nabin SuBeDi".upper()

'NABIN SUBEDI'

In [192]:
"this will split all the words into a list".split()

['this', 'will', 'split', 'all', 'the', 'words', 'into', 'a', 'list']

In [200]:
"".join(["This", "will", "BE", "join", "all", "the", "Words"])

#Space is not in "" ❌

'ThiswillBEjoinalltheWords'

In [201]:
##Space is not in "" ◯
' '.join(['This', 'will', 'join', 'all', 'words', 'into', 'a', 'string'])

'This will join all words into a string'

# python integers  [int]

int (signed integers) − They are often called just integers or ints. They are positive or negative whole numbers with no decimal point. Integers in Python 3 are of unlimited size. Python 2 has two integer types - int and long.

The int() method returns an integer object from any number or string.

In [205]:
o=int(3) # o will be 3

In [208]:
#The syntax of int() method is:
int(x=0,base=10)

int() Parameters

int() method takes two arguments:

    .x - Number or string to be converted to integer object.
        The default argument is zero.
    .base - Base of the number in x.
        Can be 0 (code literal) or 2-36.

Return value from int()

int() method returns:

        .an integer object from the given number or string treats 
            default base as 10
        .(No parameters) returns 0
        
        .(If base given) treats the string in the given base
            (0, 2, 8, 10, 16)

Example 1: How int() works in Python?

In [209]:
#integer
print("int(123)is:",int(123))

#float
print("int(123.23)is:",int(123.23))

#string
print("int('123')is:",int('123'))

int(123)is: 123
int(123.23)is: 123
int('123')is: 123

Example 2: How int() works for decimal, octal and hexadecimal?

In [232]:
#binary # Function ➡️Ob or OB
print("For 1010,int is:",int("1010",2))
print("For 0b1010,int is:",int("0B1010",2))

#octal ＃Function ➡️0o or OO
print("For 12, int is:", int("12",8))
print("For 0o12, int is:",int("0o12",8))

#hexadecimal　#function ➡️ 0xa or 0XA
print("For A, int is:",int("A",16))
print("for 0xA,int is:",int("0xa",16))

For 1010,int is: 10
For 0b1010,int is: 10
For 12, int is: 10
For 0o12, int is: 10
For A, int is: 10
for 0xA,int is: 10

Example 3: int() for custom objects

Internally, int() method calls an object's __int__() method.

So, even if an object isn't a number, you can convert the object into an integer object.

You can do this by overriding __index__() and __int__() methods of the class to return a number.

These two methods should return the same value as older versions of Python uses __int__(), while newer uses __index__() method.

In [260]:
class Person:
    age = 68

    def __index__(self):
        return self.age
    
    def __int__(self):
        return self.age

person = Person()
print('int(person) is:', int(person))

int(person) is: 68

# python float [float]

The float() method returns a floating point number from a number or a string. ... Parameter Type, Usage ... if an argument is passed; 0.0 if no arguments passed; OverflowError exception if the argument is outside the range of Python float ..

The syntax for float() is:

In [263]:
#Example
z=float(3)   # z will be 3.0
print(z)

3.0

float() Parameters

The float() method takes a single parameter:

x (Optional) - number or string that needs to be converted to floating point number
If it's a string, the string should contain decimal points

Different parameters with float()

Parameter Type	Usage
.Float number	Use as a floating number
.Integer	    Use as an integer
.String	        Must contain decimal numbers. Leading and trailing                   whitespaces are removed. Optional use of "+", "-" 
                  signs. Could contain NaN, Infinity, inf                             (lowercase or uppercase).

Return value from float()

float() method returns:

Equivalent floating point number if an argument is passed
0.0 if no arguments passed
OverflowError exception if the argument is outside the range of Python float

Example 1: How float() works in Python?

In [264]:
#for integers
print(float(10))

#for floats
print(float(12.22))

#for srting floats
print(float("-12.22"))

#for string floats with whitespaces
print(float("    -22.45\n"))  #Function➡️\n" gives the whitespace 

#string float error
print(float("nabin subedi"))

10.0
12.22
-12.22
-22.45

ValueError: could not convert string to float: 'nabin subedi'

# Example 2: float() for infinity and Nan(Not a number)?

In [287]:
#for NaN
print(float("nan"))
print(float("NaN"))

#for Inf/infinity
print(float("inf"))
print(float("InF"))
print(float("InFiNiTy"))
print(float("infinity"))

nan
nan
inf
inf
inf
inf

# Get the Type

The type() function either returns the type of the object or returns a new type object based on the arguments passed.

You can get the data type of a variable with the type() function.

In [288]:
x=5
y="nabin"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

# Single or Double Quotes?

String variables can be declared either by using single or double quotes:

In [289]:
x="nabin"
#is the same as
x='nabin'

In [291]:
print(x)

nabin

# Case-Sensitive

Variable names are case-sensitive.

In [292]:
#This will create two variables:

a=4
A="nabin"

In [294]:
print(a)
print(A)

4
nabin

# Python - Variable Names

Variable Names

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

➡️A variable name must start with a letter or the underscore character

➡️A variable name cannot start with a number

➡️A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

➡️Variable names are case-sensitive (age, Age and AGE are three different variables)

In [303]:
#Legal variable names

myname="nabin"
my_name="nabin"
_my_name="nabin"
myName="nabin"
MYNAE="nabin"
myname2="nabin"

print(myname)
print(my_name)
print(_my_name)
print(myName)
print(MYNAE)
print(myname2)

nabin
nabin
nabin
nabin
nabin
nabin

In [304]:
#Illegal variable names

2my_name="nabin"
my-name="nabin"
my name="nabin"

#Remember that variable names are case-sensitive

SyntaxError: invalid syntax (<ipython-input-304-e21d2ee3dcb8>, line 3)

# Multi Words Variable Names

Variable name with more than one words can be difficult to read.

These are several techiques you can use to make them more readable

#Camel Case
Each word , except the first, starts with a capital

In [306]:
myVariableName="Nabin"
print(myVariableName)

Nabin

#Pascal Case
Ecch word starts with a capital letter:

In [307]:
MyVariableName="Nabin"
print(MyVariableName)

Nabin

#Snake Case
Each word is seprated by an underscore character

In [309]:
my_varibale_name="nabin"
print(my_varibale_name)

nabin

# Python Variables-Assign Multiple Values

#Many Values to Multiple Variables
Python allows you to assign value to multiple variables in on line

In [312]:
x,y,z="nabin","subedi","python's student"
print(x)
print(y)
print(z)

nabin
subedi
python's student

#Note: Make sure the number of variables matches the number of values, or else you will get an error.

#One Value to Multiple Variables
.And you can assign the same value to multiple variables in one line:

In [313]:
x=y=z="Nabin,python's student"
print(x)
print(y)
print(z)

Nabin,python's student
Nabin,python's student
Nabin,python's student

#Unpack a Collection

if You have a collection of values in a list, tuple etc. Python allows you extract the value into variables.This is called unpacking.

In [314]:
#unpack a list
Students=["python","Java","c++","SQL"]
a,b,c,d=Students
print(a)
print(b)
print(c)
print(d)

python
Java
c++
SQL

#unpacking a Tuple
When we create a tuple, we normally assign values to it. This is called "packing "a tuple:

In [318]:
#packing a truples
students=("python","Java","C++","SQL")
print(students)

('python', 'Java', 'C++', 'SQL')

But, in python, we are also allowed to extract the values back into variables.This is called "unpacking":

In [322]:
#unpacking a tuple:

students=("python","JAVA","C++","SQL")
(first,second,third,forth)=students

print(first)
print(second)
print(third)
print(forth)

python
JAVA
C++
SQL

#Using Asterix*
If the number of variables is less than the number of values, you can add an* to the variable name and the value will be assigned to the bariable as a list:

In [ ]:
#Assign the rest of the values as a list called "forth"

In [323]:
students=("python","Java","C++","SQL")
(first,second,*third)=students
print(first)
print(second)
print(third)

python
Java
['C++', 'SQL']

If the asterix is added to another variable name than the last,python will assign values to the variable until the number of values left matches the number of variables left.

In [324]:
#Add a list of values the "second"variable
students=("python","Java","C++","SQL")
(first,*second,third)=students
print(first)
print(second)
print(third)

python
['Java', 'C++']
SQL

# Python - Output Variables

The python print statement is often used to output variables.
To combine both text and a variable,python uses the +character:

In [331]:
x = "Nabin"
print("Python and " + x)

#"Python and " ⬅️　◯◯”　Space➡️◯◯

Python and Nabin

In [329]:
x = "awesome"
print("Python is " + x)

Python is awesome

＃You can also use the + character to add a variable to another variable.

In [336]:
x="Nabin"
y=" and python"
z=x+y
print(z)

Nabin and python

#For the number, the + charactet works as a mathematical oprator:

In [339]:
x=100
y=200
print(x + y)

300

#If you try to combine a string and a number, Python will give you an error:

In [340]:
x="nabin"
y=100
print(x+y)

TypeError: can only concatenate str (not "int") to str

In [342]:
x="nabin"
y=" 100"
print(x+y)

nabin 100

# Python - Global Variables

Global Variables

.Variables that are created outside of a function (as in all of the example above)are know as global variables.

Global variables can be used by everyone, both inside of functiond and outside

In [343]:
#Create a varibale outside of a function, and use it inside the funciton

x="Nabin subedi"

def myfunc():
    print("Python and " + x)
    
myfunc()

Python and Nabin subedi

# if you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function.The global variable with the same name will remain as it was, global and wiht the orginal value.

In [353]:
#create a variabel inside a function,with the same name as the global variable.
x="Nabin"

def myfunc():
    x=" Nabin and python"
    print("Yes"+x)
myfunc()
print("and python "+x)

Yes Nabin and python
and python Nabin

The global keyword
Normally, when you create a varibale inside a functioin, that variable is loval and can only be sued inside that function.

To create global variable inside a funciton , you can use the global keyword.

In [354]:
#if you use the global keyword, the variable belongs to the globel scope
def myfunc():
    global x
    x= "Nabin"
myfunc()
print("Python and "+x)

Python and Nabin

Also, use the global keyword if you want to change a global variable inside a funcition.

In [362]:
#To change the value of a global variable inside a funciton,refer to the variable by using the global keyword.

x="Python and"
def myfunc():
    global x
    x="nabin"

myfunc()
print("Student and " + x)

Student and nabin

In [367]:
a="Nabin"
def myfunc():
    global x
    x="Fit"
    
myfunc()
print("Point and "+x)

Point and Fit

# Python Data Types

Built-in Data Types

In programming, data types is an important concept.

Variables can stote data of different types, and different types can do different things.

Python has the following data types built-in by defult, in these categories


Text Type:         str
Numeric Types:     int,float,complex
Mapping type:      dict
Set Tyoes;         Set, frozenset
Boolen Types:      Bool
Binary Types:      bytes,bytearray,Memoryview

Getting the Data type

You can get the data type of any object by using the type()function:

In [369]:
#print the data type of the variable x:

x=5
print(type(x))

<class 'int'>

Setting the Data Type

in python, the data type is set when you assign a balue to a variable:

In [380]:
a="hello nabin and pyhion"        #Str
print(a)
print(type(a))

hello nabin and pyhion
<class 'str'>

In [381]:
b=20                              #int
print(b)
print(type(b))

20
<class 'int'>

In [382]:
c=20.5                            #float
print(c)
print(type(c))

20.5
<class 'float'>

In [385]:
d=1j                              #complex
print(d)
print(type(d))

1j
<class 'complex'>

In [386]:
e=["python","C++","Java","PHP"]   #List
print(e)
print(type(e))

['python', 'C++', 'Java', 'PHP']
<class 'list'>

In [387]:
f=("python","C++","Java","PHP")   #tuple
print(e)
print(type(e))

['python', 'C++', 'Java', 'PHP']
<class 'list'>

In [388]:
g=range(6)                        #range
print(g)
print(type(g))

range(0, 6)
<class 'range'>

In [389]:
h={"python","C++","JAVA","PHP"}   #dict
print(h)
print(type(h))

{'python', 'JAVA', 'PHP', 'C++'}
<class 'set'>

In [390]:
i={"python","C++","JAVA","PHP"}   #set
print(i)
print(type(i))

{'python', 'JAVA', 'PHP', 'C++'}
<class 'set'>

In [395]:
j=frozenset({"python","C++""JAVA",
"PHP"})   #Frozenset
print(j)
print(type(j))

frozenset({'python', 'C++JAVA', 'PHP'})
<class 'frozenset'>

In [397]:
k=True
print(k)
print(type(k))

True
<class 'bool'>

In [398]:
l=b"Nabin"
print(l)
print(type(l))

b'Nabin'
<class 'bytes'>

In [400]:
m=bytearray(6)
print(m)
print(type(m))

bytearray(b'\x00\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [401]:
n=memoryview(bytes(6))
print(n)
print(type(n))

<memory at 0x7fc63bb1dc40>
<class 'memoryview'>

#Setting the Specific Data Type

if you want to specify the data type, you can use the following constructor functions:

In [422]:
a = str("python and  nabin")
#display a:
print(a)

#display the data type of a:
print(type(a))

TypeError: 'str' object is not callable

In [412]:
b=int(20)
print(b)
print(type(b))

20
<class 'int'>

In [413]:
c=float(12.8)
print(c)
print(type(c))

12.8
<class 'float'>

In [421]:
d=complex(7j)   #function key ➡️j
print(d)
print(type(d))

7j
<class 'complex'>

In [424]:
e=list(("python","Java","C++","PHP"))
print(e)
print(type(e))

['python', 'Java', 'C++', 'PHP']
<class 'list'>

In [425]:
n=memoryview(bytes(6))
print(n)
print(type(n))

<memory at 0x7fc63bb1d940>
<class 'memoryview'>

# Python Numbers

There are three numberic types in python:
.int
.float
.complex

Variable of numeric types are created when you assign a value of them:

In [ ]:
x=1
y=3.5
z=1j

# to verify the types of any object in python, use the type()function:

In [426]:
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'str'>
<class 'str'>

# Python Casting

Specify a Variable Types

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor funciton.

➡️int() -Constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole numer), or a string literal (providing the string represents a whole number)

➡️float() -constructs a float number form a integer literal, a float literal or a string literal (Providing the string represents a float or an integer)

➡️str() -constructs a string from a wide variety of data types , including srings integer literals and float literals.

In [427]:
#Integers:
x=int(5)     #x will be 5
y=int(6.8)   #Y will be 6
z=int("6")  #z will be 6

print(x)
print(y)
print(z)

5
6
6

In [428]:
#Floats:
x=float(5)
y=float(6.8)
z=float("5")
o=float("5.6")

print(x)
print(y)
print(z)
print(o)

5.0
6.8
5.0
5.6

In [439]:
#Strings:   ??????
x=str("5n")
y=str(2)
z=str(6.0)

print(x)
print(y)
print(z)

TypeError: 'str' object is not callable

# Python Strings

✍️
Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'Nabin' is the same as "Nabin"

You can display a string literal with the print() function

In [440]:
print('nabin and python')
print("nabin and python")

nabin and python
nabin and python

Assign string to a variable

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [441]:
x="nabin and python"
print(x)

nabin and python

✍️
Multiline strings

You can assign a multiline string to a variable by using three quotes:

In [442]:
#You can use three double quotes:

x="""Nabin and python ,
Python and student,
doing by learning"""
print(x)

Nabin and python ,
Python and student,
doing by learning

In [443]:
#or three single quotes

x='''Nabin and python,
Python and student,
doing by learning'''
print(x)

Nabin and python,
Python and student,
doing by learning

Note* in the result , the line breaks are inserted at the same position as in the code.

✍️
Srings are Arrays

Line many other popular programming language, strings in python are arrays of bytes representing unicode characters.

However,python does not have a character data type, a single character is simply a string with a length of 1

⭕️square brackets can be used otoaccess elements of the string.✅[]

＃Get the character at position 1 (rebember that the ✅first character has the position 0):

In [453]:
a="Nabin and python"
print(a[0])  
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])
print(a[6])
print(a[7])
print(a[8])
print(a[9])
print(a[10])

print(a[-1])
print(a[-2])

N
a
b
i
n

a
n
d

p
n
o

# Looping Thought a string

⭕️Since strings are arrays , we can loop throught the characters in a string, with a ✅for loop

A for loop is used fro iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string.)

This is less like the for key in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

with the for loop we can execute a set of statemnts, once for each item in a list, tuple , set etc.


✅Coding Function

XXXX=["Xx","yy","zz","aa","bb"]
for x in XXXX:
    print(x)

In [461]:
#print every students name  list in the studnets name list

students=["nabin","nabina","abin","neveen"]
for x in students:
    print(x)

nabin
nabina
abin
neveen

➡️the ⭕️for loop does not require an indexing variable to set beforehand.

✍️
Looping Through a string

Even strings are iterable objects, they contation a sequences of characters:

In [464]:
#loop through the letter in the word "nabin"

for x in "nabin":
    print(x)

n
a
b
i
n

✍️
The break statement

With the ⭕️break statement we can stop the loop before it has looped through all the items:

✅ coding function

XXX=["aa","bb","cc","dd"]
for x in XXXX:
       print(x)
       if x == "　":
           break

In [466]:
#Exit the loop when x is "nabin"

students=["nabin","naveen","abin","nabina"]
for x in students:
    print(x)
    if x == "abin":
        break

nabin
naveen
abin

In [467]:
#Exit the loop when x is "nabin"

students=["nabin","naveen","abin","nabina"]
for x in students:
    print(x)
    if x == "naveen":
        break

nabin
naveen

In [469]:
students=["nabin","naveen","abin","nabina","malik"]
for x in students:
    print(x)
    if x == "nabina":
        break

nabin
naveen
abin
nabina

In [471]:
#Exit the loop when x is "nabin", 
#but this time the break comes before the print:

students=["nabin","naveen","abin","nabina","malik"]
for x in students:
    if x == "nabina":
        break
    print(x) #the break comes before the print

nabin
naveen
abin

✍️
The Continue Statement

with the continue statement we can stop the current iteration of the loop, and continue with the next:

In [476]:
students= ["nabin","naveen","abin","nabina","malik"]
for x in students:
    if x == "abin":
        continue
    print(x)

nabin
naveen
nabina
malik

In [475]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

✍️
The range() Function

To loop through a set of code a specified number of times, we can use the range() function,

The range() function returns a sequence of numbers,starting from 0 by default,and increments by 1 (by default), and ends at a specified number.

✅Coding function
for x in range(XXX):
    print(x)

In [477]:
#Using the range() function:

for x in range(6):
    print(x)

0
1
2
3
4
5

#Note that range(6) is not the values of 0 to 6, but the values 0 to 5.

The range() function defults to 0 as a strating value,however it is possible to specify the starting value by adding a parameter: range(2,6), whick means values from 2 to 6(but not including 6):

✅Coding Function
for x in range(aa,bb):
    print(aa)

In [478]:
#Using the start parameter:
for x in range(2,6):
    print(x)

2
3
4
5

The range() function defaults to increment the sequence by1 , however it is possible to specify the increment value by adding a third parameter:(2,30,4):

✅Coding Function
for x in range(start,range,parameter):

In [481]:
#increment the sequence with 4 (defaults is 1):
for x in range(2,30,4):
    print(x)

2
6
10
14
18
22
26

In [485]:
for x in range(2,6,3):
    print(x)

2
5

✍️
Else in For Loop

The else key in a for loop specifies a block of code to be executed when the loop is finished:

✅coding function

for x in range(XXX):
    print(x)
else:
    print("Message")

In [488]:
#print all number from 0 to 10, and print a message wihen the loop has ended:

for x in range(10):
    print(x)
else:
    print("finally finished")

0
1
2
3
4
5
6
7
8
9
finally finished

⭕️Note: The else block will not be executed if the loop is stopped by a break statement.

In [497]:
#Break the loop when x is 10, 
#and see what happens with the else block:

for x in range(10):
    if x == 6:
        break    
    print(x)
else:
    print("Finally finished")

0
1
2
3
4
5

✍️
Nested Loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop".

In [499]:
#print each program for every students:

program=["Python","PHP","JAVA","C++"]
students=["nabin","abin","neveen","nabina"]

for x in program:
    for y in students:
        print(x,"and",y)

Python and nabin
Python and abin
Python and neveen
Python and nabina
PHP and nabin
PHP and abin
PHP and neveen
PHP and nabina
JAVA and nabin
JAVA and abin
JAVA and neveen
JAVA and nabina
C++ and nabin
C++ and abin
C++ and neveen
C++ and nabina

✍️
The Pass Statement

for loops cannot be empty, but if you for some reason have a for loop wiht no content , put in the pass statement to avoid getting an error.


resule:
# having an empty for loop like this, would raise an error without the pass statement

In [501]:
for x in (10,20,30):
    pass

# String Length

To get the length of a string , use the ⭕️len() function 

✅code function
x="XXXXXXX"
print(len(x))

In [502]:
x="Nabin and python"
print(len(x))

16

# Check string

To check if a certain pharae or character i present in a string, we an use the key⭕️ in.

✅code function
X="XXXXXXXX XXXXX XXXX"
print("XXXXX" in x)

In [504]:
#check if "nabin" is presen in the following text:
txt=" Nabin and python programming"
print("Nabin" in txt)

True

In [505]:
#check if "nabin" is presen in the following text:
txt=" Nabin and python programming"
print("nabin" in txt)

False

⭕️Use it is an if statement

✅code function
x="XXXX XXX XXXx XXX"
if "XXXX"in x:
    print("comment)

In [515]:
#print only if "Nabin" is present
txt="Nabin and python programming"
if "Nabin"in txt:
    print("yes,'Nabin' is present")

yes,'Nabin' is present

In [517]:
#print only if "Nabin" is present
txt="Nabin and python programming"
if "Nbin"in txt:
    print("yes,'Nabin' is present")
else:
    print("Nabin, is not present")

Nabin, is not present

✍️
Check if NOT

To check if a certain phrase or character is NOT present in a string, we can use the keyword ⭕️not in.

In [519]:
# check if "nabin" is not present in the folling text:

txt="nabin and python programming"
print("nain" not in txt)

True

Use it in an ⭕️if statement:

In [523]:
#print only if " Nabin" is NOT present
txt="Nain and python programming"
if "Nabin" not in txt:
    print("Yes,'Nabin'is NOT present")

Yes,'Nabin'is NOT present

# Python-Slicing Strings

✍️
Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, seprated by a colon, to return a part of the string.

In [528]:
#Get the characters from position 6 to position 10 (not included)

x="Nabin and python programming"
print(x[13:20])

hon pro

➡️Note:The first character has index⭕️ 0.

✍️
Slice from the Start

By leaving out the start index, ⭕️the range will start at the first character:

In [532]:
#Get the characters from the start to position 10 (not included):

x="Nabin and python programming"
print(x[:10])

Nabin and

✍️
Slice To the End

By leaving out the end index, ⭕️the range will go to the end:

# Get the characters from position 4, and all the way to the end:
x="Nabin and python programming"
print(x[4:])

✍️
Negative indexing

⭕️Use negative indexes to start the slice from the end of the string:

In [537]:
#Get the characters:
#From:"y" in "Python"(position -5)
#to, but not included:"0" in "python"(position -2):   
x="Nabin & Python"
print(x[-5:-2])

yth

# PYTHON NOTE 「2」20210102

# Python - Modify Strings

# Python-Modify Strings

Python has a set of built-in methods that you can use on strings.

✍️
Upper Case

The ⭕️upper() method returns the string in upper case:

✅coding function
x="XXXX XXXXXX XXXX"
print(x.upper())

In [1]:
#The upper() method returns the string in upper case:

x="Nabin and python"
print(x.upper())

NABIN AND PYTHON

✍️
Lower Case

The ⭕️lower() method returns the string in lower case:

✅coding function
X="XXXX XXX XXXX"
print(x.lower())

In [2]:
#The lower() method returns the string in lower case:

x="Nabin and PYthon"
print(x.lower())

nabin and python

✍️
Remove Whitespace

whitespace is the space before and/or after the actual text, and very often, you want to remove this space.

✅Code function
x="XXXX XXXX XXX"
print(x.strinp())

In [8]:
#The ⭕️strip() method removes any whitespace 
#form the beginning or the end:

x="    Nabin and python programming!    "
print(x.strip())

Nabin and python programming!

In [12]:
x="     Nabin and python programming!    "
print(x)
print(x.strip())

     Nabin and python programming!
Nabin and python programming!

✍️
Replace Sting

✅Code Function
x="XXX XX XXXX XXX"
print(x.replace("XX","YY"))

In [19]:
#The　⭕️replace() method replace a string with another string:

x="Nabin and python programming"
print(x.replace("N","A"))

Aabin and python programming

In [30]:
x="nabin and python programming"
print(x.replace("p","L"))
print(x.replace("n","A"))

nabin and Lython Lrogramming
AabiA aAd pythoA programmiAg

✍️
Split String

The ⭕️split() method returns a list wheere the text between the specified separator becomes the list items.

✅coding function
x="XXXX XXX XX XXXX"
print(x.split(",")

In [32]:
#The split() method splits the sting into substrings
#if it finds instanes of the seprator:

x="Nabin and python programming"
print(x.split(","))

['Nabin and python programming']

In [37]:
x='Nabin and python programming'
print(x.split(','))

['Nabin and python programming']

✍️
String Methods

Python has a set of build-in methods that you can use on strings

➡️Note:All string methods returns new values. They do not change the orginal string.

# Python-String Concantenation

To concatenate, or combine, two strings you can use the + operator.

In [39]:
#Merge variable x with the variable y into variable c:

x="Nabin"
y="Python"
z=x+y
print(z)

NabinPython

In [43]:
# to add a space between them , add a ⭕️"":
x="nabin"
y="python"
z= x + " " + y
print(z)

nabin python

# Python-Format-Strings

As we learned in the python variables chapther, we cannot combine strings and numbers like this:

In [44]:
time=45
course="Nabin and python programming" + time
print(course)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by sing the ⭕️format() method!

The ⭕️format() method takes the passed arguments, formats them , and places them in the string where the placehonders ⭕️{} are:

✅Coding function

x=number
y="XXXXX XXX XXX {} "
print(y.format(x))

In [47]:
#Use the format() method to insert numbers into strings:

time=45
course="Nabin and python programming {}"
print(course.format(time))

Nabin and python programming 45

➡️The format()method takes unlimited number of arguments, and are placed into the respective placeholders:

In [52]:
python=550
Java=440
PHP=410
HTML=420.50

my_income="Salary1 {} * Salary2 {} *  Salary3 {} * Salary4 {} = my salary. "
print(my_income.format(python,Java,PHP,HTML))

Salary1 550 * Salary2 440 *  Salary3 410 * Salary4 420.5 = my salary.

➡️You can use index numbers⭕️ {0} to be sure the arguments are placed in the correct placeholders:

In [63]:
python=550
Java=440
PHP=410
HTML=420.50

my_income="salary1 {3}  salary2 {0}  salary3 {2}  salary4 {1}"
print(my_income.format(python,Java,PHP,HTML))

salary1 420.5  salary2 550  salary3 410  salary4 440

# Python-Excape Character

#Escape Character

To insert character that are illegal in a string, use an escape character.

An escape character is a ⭕️backslash \ followed by the haracter you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

➡️You will get an error if you use double quotes inside a string that is surrounded by double quotes:

In [66]:
my_txt="Python and nabin "programming" project. "
print(my_txt)

SyntaxError: invalid syntax (<ipython-input-66-244afb6a53c3>, line 1)

To fix this problem, use the escape character\":

The escape character allows you to use douvle quotes when you normally would not be allowed:

In [69]:
my_txt=" python and nabin \"programming\" project."
print(my_txt)

 python and nabin "programming" project.

✍️
Excape Characters

Others escape characters used in pyhon:

✍️
Single Quote ⭕️'

In [71]:
nbn='It\'s new project'     
print(nbn)

It's new project

✍️
Backslash ⭕️\\

In [79]:
nbn="It\'s a new project \\ by Nabin."
print(nbn)

It's a new project \ by Nabin.

✍️
New line ⭕️\n

In [80]:
nbn="It\'s  a new project \\ by nabin \n2021 target"
print(nbn)

It's  a new project \ by nabin
2021 target

✍️
Carriage Return ⭕️\r

In [96]:
nbn="nabin\rPython"
print(nbn)

Python

✍️
Tab  ⭕️\t

In [100]:
nbn="Nabin\tPython"
print(nbn)

Nabin	Python

✍️
Backspace　⭕️\b

In [101]:
nbn="Nabin \bPython"
print(nbn)

Nabin Python

✍️
Form Feed　⭕️\f

In [111]:
nbn="Nabin \fPython"
print(nbn)

Nabin Python

✍️
Octal Value ⭕️\OOO

Octal stands for eight. Right, octal contains eight digits. And instead of bin() or hex(), we use oct() to convert numbers to octal in Python. We prefix octal numbers with a zero followed by a lowercase o, like '0o'.

In [126]:
nbn="\130\132\126"
print(nbn)

XZV

✍️
Hex Value

Each hexadencimal digit represents four bits(binary digits), also known as a nibble (or nybble), which is half a bytes. for example, a single byte can have values ranging from 00000000 t0 11111111 in binary form, which can be convenicntly represented as 00 to FF in hexadecimal.

In [130]:
nbn="\x45\x34\x31\x23"
print(nbn)

E41#

# Python-String Methonds

Python has a set of built-in methods that you can use on strings.

⭕️Note: All string methods returns new values. They do not change the orginal string.

.capitalize()   Convetts the first charcter to upper case
.casefold()     Converts string into lower case
.center()       Returns a centered string
.count()        Returns the numbers of times a specified value occurs in strings
.encode()       Returns an encoded version of the string
.endswith()     Returns true if the string ends with the specified value
.expandtabs()   Sets the tab size of the string
.find()         Searches the string of a specified value and returns the position of where it was found
.format()       Formats specified values in a string
.format_map()   Formats specified values n a string
index()         Searches the string for a specified value and returns the position of where eit was found
.isalum()       Return True if all characters in the string are in the alphabet
.isalpha()      Returns True if all characters in the string are in the alphabet
.isdecimal()    Returns True if all characters in the string are decimals
.isdigit()     Returns True if all characters in the stirng are decimals
.isidentifier() Returns True if the string is an idenfifier
.islower()     Return True if all characters in the string are lower case
.isnumeric()  Returns True if all characters in the string are numeric
.isprintable() Returns True if all character in the string are whitespaces
.istitle()     Return True if the string follows the rules of a title
.isupper()    Returns True if all characters in the string are upper case
.join()       Joins the elements of an iterable to the end of the string
.ljust()     Returns a lift trim version of the string
.maketrans() Returns a translation table to be used in translations
.partition() Returns a tuple where the string is parted into three parts
.replace()   Returns a string where specified value is replaced with a specified value
.rfind()     Searches the string for a specified value and returns the last positon of where it was found
.rindex()    Searches the string for a specified value and returns the last position of where it was found
.rjust()     Returns a right justified versioin of the string
.rpartition() Returns a tupple where the sting is parted into three parts
.rsplit()     Splits the string at tge soecified separator , and returs a list
.rstrip()     Retrun a right trim version of the string
.split()      Splits the string at hte specified seprator, and returns a list
.splitines() Splits the string at line breaks and returns a list
.startswith() Returns true if the string starts with the specified value
.strip()    Returns a trimmed version of the string
.swapcase()  swaps case , lower case becomes upper case and vice versa
.title)     converts the first character of each word to upper case
.translate() Returns a translated string
.upper()     Converts a string tinto upper case
.zfill()    Fills the string with a specified number of 0 values at the beginning

# Python Booleans

Booleans represent one of two values :⭕️True or False

✍️
Boolean Values

In Programming you often need to know if an expression is ⭕️True or False.

You can evulate any expression in python , and ⭕️get one of two answer, True or False.

When you compare two values, the expression is evulated and python returns the Boolean answer.

In [135]:
print(20>13)
print(15==16)
print(1<5)

True
False
True

When you run a condition in an ⭕️if statment ,python returns True or False:

✅Code function
if:
  True 
else:
  False

In [136]:
#Print a message based on whether the condition is True or False

x=30
y=24

if x > y :
    print("x is greater than y")
else:
    print("x is less than y")

x is greater than y

✍️
Evaluate Values and Variables

The ⭕️bool() Function allows you to evaluate any value and give you ⭕️True or False in return,

✅code function
print(bool())

In [137]:
#Evaluate a string and a number:

print(bool("Nabi and Python"))
print(bool(600))

True
True

In [138]:
#Evaluate two variables:
x="Nabin and Python"
y=600

print(bool(x))
print(bool(y))

True
True

✍️
Most values are True

Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

⭕️Any list, tuple , set , and dictionary are True , except empty ones.

In [139]:
#The Following will return True:

bool("Nabin")
bool(600)
bool(["nabin","Python","Target"])

True

✍️
Some Values are False

in fact , there are not many values that evulate to False, except empth values, such as (),{},[],"", the number 0, and the value None . And of course the value False evaluate to False.

In [145]:
#The following will return false

print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

One more value , or object in this case, evaluates to False , and that is if you have an object that is made from a class with a _len_ function that returns 0 or False:

In [1]:
class myclass():
    def _len_(self):
        return 0
myobj = myclass()

print (bool(myobj))

True

In [6]:
if True:
    print("nabn and programming")

nabn and programming

In [10]:
x=200
y=300

if x < y:
    print("x is lessthan y" )

x is lessthan y

In [11]:
if True:
    print("x is less than y")

x is less than y

In [13]:
boolean_value=x<y
print(boolean_value)

True

In [19]:
✍️
Functions can Return a Boolean

⭕️You can create functions that returns a Boolean Value:

In [26]:
#print the answer of a function

def my_target():
    return True

print(my_target())

True

⭕️You can execute code based on the boolean answer of a function:

In [38]:
#Print "  " if the function returns True, otherwiese print "  ":

def my_target():
    return True

if my_target():
    print("PYTHON")

else:
    print("I will Try my Best")

PYTHON

In [39]:
#Print "  " if the function returns True, otherwiese print "  ":

def my_target():
    return False

if my_target():
    print("PYTHON")

else:
    print("I will Try my Best")

I will Try my Best

Python also has may built-in functions that return a boolean value,like the ⭕️isintance()　function,which can be used to determine if an object is of a certain data types:

In [41]:
#check if an object is an integer or not:
x=1000
print(isinstance(x,int))

True

# PYTHON NOTE 「3」20210103

# Python Operators

Operators are used to perform operations on varialbe and calues.
In the example below, we use the⭕️ + operator to add together two values:

In [42]:
print(200+300)

500

In [ ]:
➡️Python divides the operators in the following groups:
    .Arithmetic operators
    .Assignment operators
    .Comparison operators
    .Logical operators
    .Identity operators
    .Membership operators
    .Bitwise operators

✍️
Python Arithmetic Operators

Arithmetic operators are used with numeric values to perform common mathematical operations:

operator        Name             Example
+               Addition         x+y
-               Subraction       x-y
*               Multiplication   x*y
/               Division         x/y
%               Modulus          x%y
**              Exponention      x**y
//              Floor Division   x//y

✍️
Python Assigment Operator

In [47]:
#⭕️＝

x=100
print(x)

100

In [49]:
#⭕️+=

x=200
x+=100
print(x)

300

In [52]:
#⭕️-=

x=500
x-=300
print(x)

200

In [54]:
#⭕️*=

x=500
x*=2
print(x)

1000

In [57]:
#⭕️/=

x=500
x/=2
print(x)

250.0

In [62]:
#⭕️%=

x=500
x%=3
print(x)

2

In [63]:
#⭕️//=

x=500
x//=3
print(x)

166

In [64]:
#⭕️**=

x=500
x**=2
print(x)

250000

In [74]:
#⭕️&=　　　　　　？？なぜ？？

x=10
x &=3
print(x)

2

In [82]:
#⭕️|=           ？？なぜ？？

x=500
x|=90
print(x)

510

In [84]:
#⭕️^=           ？？なぜ？？

x=500
x^=13
print(x)

505

In [87]:
#⭕️>>=         ？？なぜ？？       

x=500
x>>=3
print(x)

62

In [90]:
#⭕️<<=          ？？なぜ？？

x=500
x<<=4
print(x)

8000

✍️Python Comparsion Opertions

Comparsion operations are used to compapare two values:

In [91]:
#⭕️ == (Equal)

x=2
y=3
print(x==y)

False

In [92]:
#⭕️ !=   (Not equal)

x=2
y=3
print(x!=y)

True

In [93]:
#⭕️ >  (Greater Than)

x=3
y=2
print(x>y)

True

In [94]:
#⭕️  >= (Greater than or equal to)

x=3
y=2

print(x>=2)

True

In [96]:
#⭕️   < (Less than)

x=2
y=3

print(x<y)

True

In [98]:
#⭕️   <=  (Less than or equal to )

x=3
y=4

print(x<=y)

True

✍️
Python Logical Operators

Logical operators are used to combine conditional statements:

➡️ ⭕️and　Return Truth if both statements are true

In [101]:
x=3
y=5

print(x<y and y<x)

False

In [103]:
x=3
y=5

print(x<y and y>x)

True

In [105]:
x=3
y=5

print(x>y  and y<x)

False

➡️ ⭕️or Return True if one of the statemants is true

In [110]:
x=3
y=5

print(x>y or x>y)

False

In [108]:
x=3
y=5
print(x>y or y>x)

True

In [111]:
x=3
y=5
print(x<y or y>x)

True

➡️⭕️ not Reverse the result , returns False if the retult is true

In [112]:
x=5
y=3

print(not(x>y and y<x))

False

In [116]:
print(x>y and y<x)

True

✍️
Python identity Operators

Identity operators are used to compare the objects , not if they are equeal, but if they are actually the same object, with the same memory location:

Operator     Description
⭕️in           Returns True if a sequence with the specified value is present in the object                x in y
⭕️not in       Returns True if a sequence with the specified value is not present in the object            x not in y

In [117]:
x = ["nabin", "python"]
y = ["python", "nabin"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
False

✍️
Python Bit Operators

Bitwise operators are used to compare (binary) numbers

⭕️Operator   Name       Description
&            AND        Sets each bit to 1 if both bits are 1
|            OR         Sets each bit to 1 if one of two bits is 1
^            XOR        Sets each bit to 1 if only one of two bits is 1
~            Not        Inverts all the bits
<<           Zero fill left shift    Shift left by pushing zeros in from the right and let the leftmost bits fall off
>>           Signed right shift      Shi ritht by pushing copies of the left most bit in from the left , and the rightmost bits fall off.

# PYTHON NOTE 「4」20210104

# Python List

In [ ]:
My_list=["nabin","python","mission","success"]

✍️
List　[]
Lists are used to store multiple items in a single Variable.

Lists are one of 4 build-in data types in python used to store collections of data , the other 3 Tuple , Set and Dictionary, all with different qualities and usage.

Lists are created using ⭕️[]square brackets:

In [2]:
My_list=["nabin","python","mission","success"]
print(My_list)

['nabin', 'python', 'mission', 'success']

✍️
List Iteams

➡️List items are ordered,changeable , and allow duplicate values.

List items are indexed, the first item has index ⭕️[0],the second item has index ⭕️[1]etc.

✍️
Ordered 

⭕️When we say that lists are ordered , it means that the items have a difined order, and that order will not change.

⭕️If you add new items to a list, the new items will be placed at the end of the list.

Note:⭕️
There are some List methods that will change the order, but in general: the order of the items will not change.

✍️
Changealbe

The list is changealbe,meaning that we can change, add , and remove items in a list after it has been created.

✍️
Allow Duplicates

Since lists are indexed,lists can have items with the same value:

# PYTHON NOTE 「5」20210105

# Python Lists**

In [1]:
#Lists allow duplicate values:

my_list=["python","Mission","target","enjoyment"]
print(my_list)

['python', 'Mission', 'target', 'enjoyment']

✍️
List Items -Data Types

List items can be of any data type:

In [2]:
#String, int and boolean data types

nbn1=["python","nabin","target","Mission"]
nbn2=[1,2,3,4,5]
nbn3=[True,False,False]

print(nbn1)
print(nbn2)
print(nbn3)

['python', 'nabin', 'target', 'Mission']
[1, 2, 3, 4, 5]
[True, False, False]

✍️
⭕️A list can contaiton different data types

In [3]:
#a list with strings , integer and boolean values:

nbn_list=["nabin","python","salary","9000$",True,1,"Yes"]
print(nbn_list)

['nabin', 'python', 'salary', '9000$', True, 1, 'Yes']

✍️
From python's perspective, lists are difined as objects with the data types"list":
⭕️<class'list'>

What is the data types of lists??

In [5]:
nbn_list=["nabin","mission","python","Positive"]
print(type(nbn_list))

<class 'list'>

The list() Constructor

It is aslo possible to use the ⭕️list() constructor when creating a new list.

➡️Using the ⭕️list() constructor to make a list:

In [8]:
nbn_list=list(("nabin","python","mission","positive"))

#Note the double round-brackets

print(nbn_list)

['nabin', 'python', 'mission', 'positive']

# Python Collection (Arrays)

There are four collectio data types in the Python programming Language:

✍️
List:
List is a collection which is ordered and changeable. Allows duplicate members.

✍️
Tuple:
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

✍️
Set:
Set is a collection which is unordered and unindexed.No duplicate members.

✍️
Dictionary is a collectiion which is unordered and changeable. No duplicate members.

When chossing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and , t could mean an increase in efficiency or security.

# Python-Access List Item

✍️
Access Items

List items are indexed and yu can access them by referrig to the index number:

In [9]:
#print the second item of the list:

nbn_list=["Nabin","Python","Mission"]
print(nbn_list[1])

Python

➡️Note:The first item has index 0.

✍️
Negative Indexing

⭕️Negative indexing means start from the end

✅code function
-1 refers to shte last item, -2 refers to the second last item etc.

✍️
Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range , the return value will be a new list with the specified items.

In [10]:
#Return the third, fourth, and fifth item:

nbn_list=["python","mission","nabin","target","success","YES!"]
print(nbn_list[2:5])

['nabin', 'target', 'success']

Note:

✅Coding Function:
⭕️The search will start a index 2 (included) and end at index 5 (not included).

⭕️Remember that the first item has index 0

By leaving out the start value , the range will start at the first item:

In [12]:
#This example returs the item from the begining to ,
#but NOT including , "nbn":

nbn_list=["nabin","Python","challenge","Success","nbn","Yes!"]
print(nbn_list[:4])

['nabin', 'Python', 'challenge', 'Success']

In [13]:
#This example returns the items form "challenge" to end:

nbn_list=["nabin","Python","challenge","Success","nbn","Yes!"]
print(nbn_list[2:])

['challenge', 'Success', 'nbn', 'Yes!']

✍️
Range of Negative Indexes

Specify negative indexes if you want to start the search from the end of the list:

# This example returns items from "success"(-4)to , but NOT including "YES!"(-1):

In [14]:
nbn_list=nbn_list=["nabin","Python","challenge","Success","nbn","Yes!"]
print(nbn_list[-4:-1])

['challenge', 'Success', 'nbn']

✍️
Check if Item Exists

To determine if a specified item is present in a list use the in keyword:

In [15]:
#Chec if "apple" is present in the list:

nbn_list=nbn_list=["nabin","Python","challenge","Success","nbn","Yes!"]
if "nabin" in nbn_list:
    print(" Yes!, i will win")

 Yes!, i will win

# PYTHON NOTE 「6」20210106

# Change Item Value
To change the value of a specific item, refer to the index number:

In [19]:
#Change the second item:

nbn_list=["nabin","python","success ","yes"]
nbn_list[1]="python"
print(nbn_list)

['nabin', 'python', 'success ', 'yes']

✍️
Change a Range of Item Values

To change the value of items within a specific range, define a list wiht the new values, and refer to the range of index numbers where you want to insert the new values:

Change the values "python" and "success" with the value "target" and "YOU CAN WIN"

In [20]:
nbn_list=["nabin","python","success ","yes"]
nbn_list[1:3]=["target","YOU CAN WIN"]
print(nbn_list)

['nabin', 'target', 'YOU CAN WIN', 'yes']

If you insert more items than you replace , the new items will be inserted where you specified, and the remaining items will move accordingly:

In [23]:
#Change the second value by replacing it with two new values:

nbn_list=["nabin","Python","success","Yes"]
nbn_list[1:2]=["target","you can win"]
print(nbn_list)

['nabin', 'target', 'you can win', 'success', 'Yes']

➡️
⭕️Note; The length of the list will change when the number of items inserted does not match the number of items replaced

If you insert less items then you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

➡️Change the second and third value by replacing it with one value:

In [25]:
print(nbn_list)
nbn_list[1:3]=["I got the point"]
print("second and third Value byreplacing with one value",nbn_list)

['nabin', 'I got the point', 'success', 'Yes']
second and third Value byreplacing with one value ['nabin', 'I got the point', 'Yes']

✍️
Insert Items
To insert a new list item, without replacing any of the existing values, we can sue the insert() method.

The insert () method inserts an item at the specified index:

In [26]:
#insert "My success" as the third item:

nbn_list.insert(2,"My success")
print(nbn_list)

['nabin', 'I got the point', 'My success', 'Yes']

Note:As a result of the example above , the list will now contain 4 items.

# Add List items

✍️
Append items

To add an item to the end of the list,use the append()method:

In [27]:
#Using the append()method to append an item:

nbn_list.append("Success is on your hand")
print(nbn_list)

['nabin', 'I got the point', 'My success', 'Yes', 'Success is on your hand']

# Insert Items

To insert a list item at a specified index,use the ⭕️insert() method.
The ⭕️insert() method inserts an item at the specified index:

In [30]:
#insert an item as the second position:

nbn_list=["nabin","Python","success","Yes"]
nbn_list.insert(1,"be active")
print(nbn_list)

['nabin', 'be active', 'Python', 'success', 'Yes']

➡️
As a result of the examples above , the lists will now contaion 4 items.

# Extend List

To append elements from another list to the current list,use the extend() method.

In [33]:
#Add the elements of "yes" to "Win":

nbn_list1=["1","2","3","4"]
nbn_list.extend(nbn_list1)
print(nbn_list)

['nabin', 'be active', 'Python', 'success', 'Yes', '1', '2', '3', '4']

⭕️The elements will be added to the end of the list

# Add any Iterable

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [34]:
#add elementa of a tuple to a list:

nbn_list1=("be positive","think positive")
nbn_list.extend(nbn_list1)
print(nbn_list)

['nabin', 'be active', 'Python', 'success', 'Yes', '1', '2', '3', '4', 'be positive', 'think positive']