# Python note 20210117 [17]

# Python-Assignment-1

# 1. Variable Output: Store the value 3 in a variable called "x" and the value 10 in a variable called "y". Save the result of x * y into a separate variable called "result". Finally, output the information so it shows as the following
2. Variable Injection: Create a print statement that injects an integer, float, boolean, and string all into one line. The output should look like "23 4.5 False John"

In [4]:
x=3
y=10
print(x*y)

30

In [5]:
print(int(2))
print(float(2))
print(bool(2))
print("Nabin")

2
2.0
True
Nabin

Final Assignment: Printing Receipts
NOTE: Create top, sides, and bottom borders using star (*)

In [30]:
Python=30
PHP=40
Java=50

nbn_company = "ATA Pvt. Ltd. Nepal"

address = "Kathmandu,Nepal"

message= "Thank you for visiting us"


print(nbn_company)
print(" ",address)
print("===================")
print("     ","Items")
print("===================")
print("Python","     ",Python)
print("PHP","        ",PHP)
print("Java","       ",Java)
print("...................")
print("Total Price",Python+PHP+Java)

print("===================")
print(message)

ATA Pvt. Ltd. Nepal
  Kathmandu,Nepal
===================
      Items
===================
Python       30
PHP          40
Java         50
...................
Total Price 120
===================
Thank you for visiting us

# Python-assignment-2

If Statements Assignment
1. using an if statement to only run code if the condition is met
2. using the keyword 'and' in an 'if statement'
3. using the keyword 'or' in an 'if statement'
4. using the keyword 'not' within an 'if statement'

In [32]:
x=30
y=40
if x<y:
    print("x is less than y")

x is less than y

In [37]:
x=2
y=5
print(x < y and y > x)

True

In [38]:
x=2
y=5
print ( x > y or x < y )

True

In [42]:
x=2
y=5
print(not( x > y and x < y))

True

Elif Statements Assignment

1.using the elif conditional statement
2.checking more than one elif conditional statement
3.writing multiple conditionals within each other - multiple block levels
4.testing output of two if statements in a row that are both true
5.testing output of an if and elif statement that are both true

Else Statements Assignment
using an else statement
writing a full conditional statement with if, elif, else

In [60]:
x = 8
y = 9

if x > y:
    print(" x is greater than y")
    
elif x < y:
    print("x is less than y")

elif x == y:
    print("x and y is same value")

x is less than y

In [63]:
nbn="N"

if (nbn == "n" or nbn == "x"):
    print("Not valid person")

elif (nbn == "N" or nbn == "y"):
    print("Yes, You are valid person Nabin")
    
else:
    print("All are invalid person check in")

Yes, You are valid person Nabin

In [ ]:
valid_person = int(input("Your age=="))

if valid_person <= 19:
    print("You are under age")
elif valid_person <= 30:
    print("you are Valid for 'A' category")
elif valid_person <= 40:
    print("You are valid for 'B' category")
elif valid_person <= 50:
    print("you are valid for 'C' category")
else:
          print("you are not valid for the condition")

# Python Note 20210117「17」

In [9]:
initial_num = int(input("Initial number"))

num1=int(input("enter your first number =="))
num2=int(input("enter your second number =="))

if initial_num == 0:
    initial_num+1
    print("first number result")
elif initial_num <= 1:
    initial_num //2
    print("your second number")
else:
    print("your Inviled number")

Initial number3
enter your first number ==5
enter your second number ==6
your Inviled number

Final Assignment: Creating a Calculator
step 1: ask the user for the calculation to be performed
step 2: ask for numbers, alert order matters for subtracting or dividing
step 3: setup try/except for the mathematical operation

Extra Practice Questions
 Age Group: Ask the user to input their age. Depending on their input, output one of the following groups:
a. Between 0 and 12 = "Kid"
b. Between 13 and 19 = "Teenager"
c. Between 20 and 30 = "Young Adult"
d. Between 31 and 64 = "Adult"
e. 65 or above = "Senior"

In [15]:
age = int(input("your age"))
if age <= 12:
    print("kid")
elif age <=19:
    print("Teenager")
elif age <= 30:
    print("Young Adult")
elif age <= 64:
    print("Adult")
else:
    print("Senior")

your age67
Senior

# # Python note 20210122 [22]

# Python-Assignment-3

For Loops

1. Writing your first for loop using range

2. Providing the start , stop, and step for the range function

3. Printing all characters in a name using "in" keyword

4. Using the continue and break statement within a for loop

In [8]:
#1

nbn_target =["Python","Django","MySql","You Can Do it"]
for x in nbn_target:
    print(x)

Python
Django
MySql
You Can Do it

In [11]:
#2

for x in range (3,8):
    print(x)

3
4
5
6
7

In [13]:
#3
for x in range (0,9):
    print(x)

0
1
2
3
4
5
6
7
8

In [18]:
#4
nbn_target =["Python","Django","MySql","You Can Do it"]
for x in nbn_target:
    if x == "MySql": break
    print(x)
else:
    print("Yes My target is all")

Python
Django

In [20]:
#4
nbn_target =["Python","Django","MySql","You Can Do it"]
for x in nbn_target:
    if x == "MySql": continue
    print(x)
else:
    print("You can Win")

Python
Django
You Can Do it
You can Win

While loop

1. Writing for first while loop
2. Using two or more loops together is called a nested loop
3. Using a for loop to print all items in a list

In [31]:
#1

nbn_score = 0
while (nbn_score <10):
    print("Nabin Score is",nbn_score)
    nbn_score = nbn_score + 1
    
print("Good Luck for Next steps !!")

Nabin Score is 0
Nabin Score is 1
Nabin Score is 2
Nabin Score is 3
Nabin Score is 4
Nabin Score is 5
Nabin Score is 6
Nabin Score is 7
Nabin Score is 8
Nabin Score is 9
Good Luck for Next steps !!

In [36]:
#2#3
target = ["Python","Django","MySql","Do it"]
timeline = ["Jan","Apr","Jun","Get all"]

for x in target:
    for y in timeline:
        print(target,timeline)

['Python', 'Django', 'MySql', 'Do it'] ['Jan', 'Apr', 'Jun', 'Get all']
['Python', 'Django', 'MySql', 'Do it'] ['Jan', 'Apr', 'Jun', 'Get all']
['Python', 'Django', 'MySql', 'Do it'] ['Jan', 'Apr', 'Jun', 'Get all']
['Python', 'Django', 'MySql', 'Do it'] ['Jan', 'Apr', 'Jun', 'Get all']
['Python', 'Django', 'MySql', 'Do it'] ['Jan', 'Apr', 'Jun', 'Get all']
['Python', 'Django', 'MySql', 'Do it'] ['Jan', 'Apr', 'Jun', 'Get all']
['Python', 'Django', 'MySql', 'Do it'] ['Jan', 'Apr', 'Jun', 'Get all']
['Python', 'Django', 'MySql', 'Do it'] ['Jan', 'Apr', 'Jun', 'Get all']
['Python', 'Django', 'MySql', 'Do it'] ['Jan', 'Apr', 'Jun', 'Get all']
['Python', 'Django', 'MySql', 'Do it'] ['Jan', 'Apr', 'Jun', 'Get all']
['Python', 'Django', 'MySql', 'Do it'] ['Jan', 'Apr', 'Jun', 'Get all']
['Python', 'Django', 'MySql', 'Do it'] ['Jan', 'Apr', 'Jun', 'Get all']
['Python', 'Django', 'MySql', 'Do it'] ['Jan', 'Apr', 'Jun', 'Get all']
['Python', 'Django', 'MySql', 'Do it'] ['Jan', 'Apr', 'Jun', 'Get all']
['Python', 'Django', 'MySql', 'Do it'] ['Jan', 'Apr', 'Jun', 'Get all']
['Python', 'Django', 'MySql', 'Do it'] ['Jan', 'Apr', 'Jun', 'Get all']